.footer {

    display: grid;
    grid-template-columns: repeat(5, min-content) auto;
    gap: 18px;
    margin: 92px 48px 0 48px;
    padding-bottom: 24px;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .footer {
        margin: 88px 24px 0 24px;
    }
}
@media screen and (max-width: 320px) {
    .footer {
        margin: 64px auto 0 16px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, min-content) auto;
        gap: 32px;
    }
}